.home {
  height: 100%;
  position: relative;
  display: flex;
  z-index: 5;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  .title-container {
    color: var(--text-nav-color);
    outline: 0;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;

    span {
      font-size: 60px;
    }
  }
}
