.app-header {
    height: 50px;
    margin-left: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.app-page-container {
  position: fixed;
  margin-left: 60px;
  margin-top: 50px;
  width: calc(100% - 60px);
  height: calc(100% - 110px);
  z-index: 1;
}

.app-page-component {
  position: relative;
  height: calc(100% - 46px);
  z-index: 1;
  padding: 1%;
  overflow: auto;
}
