<div class="user-button">
  <span *ngIf="isAuthenticated">{{userName}}</span>
  <button #toggleButton pButton icon="pi pi-user" type="button" class="p-button-rounded p-button-outlined" (click)="onShowLoginDialog()"></button>
  <ul #menu class="logoutMenu" *ngIf="userMenuDisplayed">
    <li (click)="goToDashboard()">
      <i class="pi pi-home"></i>
      <p i18n="@@dashboard">Dashboard</p>
    </li>
    <li (click)="onProfile()">
      <i class="pi pi-user"></i>
      <p i18n="@@profile">Profile</p>
    </li>
    <li (click)="onLogout()">
      <i class="pi pi-sign-out"></i>
      <p i18n="@@loginRouteText">Logout</p>
    </li>
  </ul>
</div>

<p-dialog [header]="dialogHeader" [modal]="true" [(visible)]="showLoginDialog" [style]="{ width: '25rem' }">
  <div class="loginDialog" *ngIf="isLogin">
    <div class="loginField">
        <label for="email" i18n="@@emailPlaceholder">Email</label>
        <input pInputText id="email" [(ngModel)]="email"/>
    </div>
    <div class="loginField">
        <label for="password" i18n="@@passwordPlaceholder">Password</label>
        <i class="pi pi-eye-slash" *ngIf="!showPassword" (click)="onShowPassword()"></i>
        <i class="pi pi-eye" *ngIf="showPassword" (click)="onShowPassword()"></i>
        <input pInputText id="password" [type]="showPassword ? 'text' : 'password'" autocomplete="off" [(ngModel)]="password"/>
    </div>
    <div class="dialogButtons">
      <div class="loginButton" (click)="onLogin()" i18n="@@logInForm">Log in</div>
    </div>
    <p class="error" i18n="@@passwordValidation" *ngIf="loginError">Email and password does not match !</p>
    <p class="link" i18n="@@loginToSignUp"  *ngIf="isLogin" (click)="switchDialog()">You don't have an account ? Sign up</p>
  </div>

  <div class="loginDialog" *ngIf="!isLogin">
    <div class="loginField">
        <label for="username" i18n="@@username">Username</label>
        <input pInputText id="username" [(ngModel)]="signupUser.username" [class.invalid]="!loginComponentService.getIsUsernameValid()"/>
    </div>
    <div class="loginField">
        <label for="email" i18n="@@emailPlaceholder">Email</label>
        <input pInputText id="email" [(ngModel)]="signupUser.email" [class.invalid]="!loginComponentService.getIsEmailValid()"/>
    </div>
    <div class="loginField">
        <label for="password" i18n="@@passwordPlaceholder">Password</label>
        <i class="pi pi-eye-slash" *ngIf="!showPassword" (click)="onShowPassword()"></i>
        <i class="pi pi-eye" *ngIf="showPassword" (click)="onShowPassword()"></i>
        <input pInputText
          id="password" autocomplete="off"
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="signupUser.password"
          [class.invalid]="!loginComponentService.getIsPasswordValid()"/>
    </div>
    <div class="dialogButtons">
      <div class="loginButton" (click)="onSignup()" i18n="@@signUp">Sign up</div>
    </div>
    <p class="error" i18n="@@emailInvalid" *ngIf="!loginComponentService.getIsEmailValid()">Email is not valid !</p>
    <p class="link" i18n="@@signUpToLogin" (click)="switchDialog()">You already have an account ? Log in</p>
  </div>
</p-dialog>
<p-dialog i18n-header="@@editProfile" header="Edit profile" [modal]="true" [(visible)]="showProfileDialog" [style]="{ width: '25rem' }">
  <div class="loginDialog">
    <div class="loginField">
        <label for="username" i18n="@@username">Username</label>
        <input pInputText id="username" [(ngModel)]="signupUser.username" [class.invalid]="!loginComponentService.getIsUsernameValid()"/>
    </div>
    <div class="loginField">
        <label for="email" i18n="@@emailPlaceholder">Email</label>
        <input pInputText id="email" [(ngModel)]="signupUser.email" [class.invalid]="!loginComponentService.getIsEmailValid()"/>
    </div>
    <div class="loginField">
        <label for="password" i18n="@@passwordPlaceholder">Password</label>
        <i class="pi pi-eye-slash" *ngIf="!showPassword" (click)="onShowPassword()"></i>
        <i class="pi pi-eye" *ngIf="showPassword" (click)="onShowPassword()"></i>
        <input pInputText
          id="password" autocomplete="off"
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="signupUser.password"
          [class.invalid]="!loginComponentService.getIsPasswordValid()"/>
    </div>
    <div class="dialogButtons">
      <div class="loginButton" (click)="onEditProfile()" i18n="@@validate">Validate</div>
      <div class="cancelButton" (click)="onCancelEdit()" i18n="@@cancel">Cancel</div>
    </div>
    <p class="error" i18n="@@emailInvalid" *ngIf="!loginComponentService.getIsEmailValid()">Email is not valid !</p>
  </div>
</p-dialog>
